body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


i .fab {
  margin-left: 5px;
  margin-right: 5px;
}

i .fas {
  margin-left: 5px;
  margin-right: 5px;
}

.law-container {
  padding: 35px;


}

.settlement {
  border: 1px solid gray;
  height: 30vh;
  width: 31vw;
  margin-right: 10px;
  margin-bottom: 2vh;
  float: left;

}

.settlement-title {
  font-weight: 700;
  font-size: 20px;
  color: white;
  background-color: rgb(40,40,70);
  padding: 15px;
  text-align: center;
}
.settlement-content {
  padding: 20px;
  font-weight: 500;
  color: rgb(40,40,40);

}

.settlement .amount {
  color: green;
  font-weight: 700;
}

.btn-row {
  float: right;
  margin-top: 20px;
}

.product {
  color: darkgoldenrod;
}

.settlement .date {
  color: rgb(100,100, 100);
  font-weight: 700;
}

.case-num {
  color: black;
  font-weight: 700;
}

.aprv-btn {
  padding: 5px;
  border-radius: 4px;
  margin-right: 10px;
  background-color: rgb(180,221,181);
}

.rej-btn {
  padding: 5px;
  padding-left: 14px;
  padding-right: 14px;
  border-radius: 4px;
  margin-right: 5px;
  background-color: rgb(220, 184,184);
}

.total-bar {
   width: 80vw;
   margin-top: 3vh;
   float: left;
   margin-left: 6vw;
   border-top: 2px solid gray;
}

.estimate-title {
  font-weight: 800;
  font-size: 40px;
  margin-left: 5vw;
  color: rgb(70,70,70);
  padding: 15px;
}

.est-comp {

  color: green;
  font-size: 40px;
  margin-left: 3vw;
  font-weight: 800;
}

.t-cancel-btn {
  padding: 8px;
  padding-left: 19px;
  padding-right: 19px;
  border: 1px solid rgb(40,40,60);
  border-radius: 4px;
  background-color: rgb(220,221,221);
  margin-left: 10vw;
  margin-right: 1vw;
}

.t-submit-btn {
  padding: 8px;
  padding-left: 19px;
  padding-right: 19px;
  border: 1px solid rgb(40,40,60);
  border-radius: 4px;
  background-color: rgb(190,190,220);
  margin-right: 1vw;

}